In [5]:
import pandas as pd

# Read CSV data file into a DataFrame
acs_df = pd.read_csv('/Users/mahshid/Downloads/acs2017_census_tract_data.csv')

# Print the column names
print(acs_df.columns)

Index(['TractId', 'State', 'County', 'TotalPop', 'Men', 'Women', 'Hispanic',
       'White', 'Black', 'Native', 'Asian', 'Pacific', 'VotingAgeCitizen',
       'Income', 'IncomeErr', 'IncomePerCap', 'IncomePerCapErr', 'Poverty',
       'ChildPoverty', 'Professional', 'Service', 'Office', 'Construction',
       'Production', 'Drive', 'Carpool', 'Transit', 'Walk', 'OtherTransp',
       'WorkAtHome', 'MeanCommute', 'Employed', 'PrivateWork', 'PublicWork',
       'SelfEmployed', 'FamilyWork', 'Unemployment'],
      dtype='object')

In [6]:
import pandas as pd

# Read your CSV data file into a DataFrame
acs_df = pd.read_csv('/Users/mahshid/Downloads/acs2017_census_tract_data.csv')

# Step 1: Filter out unneeded columns
columns_to_drop = ['Men', 'Women', 'Hispanic', 'White', 'Black', 'Native', 'Asian', 
                   'Pacific', 'VotingAgeCitizen', 'ChildPoverty', 'Professional', 
                   'Service', 'Office', 'Construction', 'Production', 'Drive', 
                   'Carpool', 'Transit', 'Walk', 'OtherTransp']
acs_df = acs_df.drop(columns=columns_to_drop)

# Step 2: Aggregate the data

data_columns = ['TotalPop', 'IncomePerCap', 'Poverty']  
county_info = acs_df.groupby(['State', 'County'])[data_columns].sum().reset_index()

# Step 3: Add an ID column for the county
county_info['County_ID'] = county_info.index + 1

# Display the DataFrame
pd.set_option('display.max_rows', 100)
county_info

        State             County  TotalPop  IncomePerCap  Poverty  County_ID
0     Alabama     Autauga County     55036      319058.0    174.7          1
1     Alabama     Baldwin County    203360      903052.0    399.1          2
2     Alabama     Barbour County     26201      161025.0    249.8          3
3     Alabama        Bibb County     22580       87196.0     55.7          4
4     Alabama      Blount County     57667      194386.0    147.8          5
...       ...                ...       ...           ...      ...        ...
3215  Wyoming  Sweetwater County     44527      394777.0    140.3       3216
3216  Wyoming       Teton County     22923      190825.0     30.2       3217
3217  Wyoming       Uinta County     20758       81258.0     44.2       3218
3218  Wyoming    Washakie County      8253       80485.0     39.2       3219
3219  Wyoming      Weston County      7117       62117.0     28.4       3220

[3220 rows x 6 columns]

In [7]:

import pandas as pd

# Read your CSV data file into a DataFrame
acs_data = pd.read_csv('/Users/mahshid/Downloads/acs2017_census_tract_data.csv')

# Define a function for weighted mean
def weighted_mean(x, data, weight):
    d = data.loc[x.index, weight]
    return (x * d).sum() / d.sum()

# Create a dictionary that maps columns to the operations you want to perform on them
ops = {'TotalPop': 'sum', 
       'IncomePerCap': lambda x: weighted_mean(x, acs_data, 'TotalPop'), 
       'Poverty': lambda x: weighted_mean(x, acs_data, 'TotalPop')}

# Now group by 'County' and 'State', and calculate using the operations in the dictionary
county_info = acs_data.groupby(['County', 'State']).agg(ops).reset_index()

# Add an ID column
county_info['ID'] = range(1, len(county_info) + 1)

# Now when you query, you should get one row per county per state
counties = [("Loudoun County", "Virginia"), 
            ("Washington County", "Oregon"), 
            ("Harlan County", "Kentucky"), 
            ("Malheur County", "Oregon")]
results = pd.DataFrame()

for county, state in counties:
    data = county_info.loc[(county_info['County'] == county) & (county_info['State'] == state), 
                           ['ID', 'County', 'State', 'TotalPop', 'Poverty', 'IncomePerCap']]
    results = pd.concat([results, data])

# Reset the index of the results DataFrame
results.reset_index(drop=True, inplace=True)

# Display the results
results

     ID             County     State  TotalPop    Poverty  IncomePerCap
0  1760     Loudoun County  Virginia    374558   3.689598  50455.645745
1  3047  Washington County    Oregon    572071  10.321202  35369.047499
2  1235      Harlan County  Kentucky     27548  35.669482  15456.971032
3  1823     Malheur County    Oregon     30421  24.298225  17567.504323

In [8]:
# Get the row with the maximum 'TotalPop' value
most_populous_county = county_info.loc[county_info['TotalPop'].idxmax()]

# Get the row with the minimum 'TotalPop' value
least_populous_county = county_info.loc[county_info['TotalPop'].idxmin()]

# Display the results
print("Most populous county in the USA:")
print(most_populous_county)
print("\nLeast populous county in the USA:")
print(least_populous_county)

Most populous county in the USA:
County          Los Angeles County
State                   California
TotalPop                  10105722
IncomePerCap          30798.189407
Poverty                  16.998271
ID                            1758
Name: 1757, dtype: object

Least populous county in the USA:
County          Loving County
State                   Texas
TotalPop                   74
IncomePerCap          35530.0
Poverty                  17.1
ID                       1765
Name: 1764, dtype: object

In [9]:

import pandas as pd

# Read CSV data file into a DataFrame
acs_df = pd.read_csv('/Users/mahshid/Downloads/COVID_county_data.csv')

# Print the column names
print(acs_df.columns)

Index(['date', 'county', 'state', 'fips', 'cases', 'deaths'], dtype='object')

In [15]:
# Display the first few rows of the DataFrame
COVID_monthly.head()

   Year  Month       county  cases  deaths
0  2020      1         Cook     10     0.0
1  2020      1  Los Angeles      6     0.0
2  2020      1     Maricopa      6     0.0
3  2020      1       Orange      7     0.0
4  2020      1  Santa Clara      1     0.0

In [21]:
import pandas as pd

# Load the COVID data into a pandas data frame
covid_data = pd.read_csv('/Users/mahshid/Downloads/COVID_county_data.csv')

# Convert the date column to datetime type
covid_data['date'] = pd.to_datetime(covid_data['date'])

# Group the data frame by county and month, aggregating other columns
COVID_monthly = covid_data.groupby([covid_data['date'].dt.year.rename('year'),
                                    covid_data['date'].dt.month.rename('month'),
                                    'county']).agg({
    'cases': 'sum',
    'deaths': 'sum'
}).reset_index()

# Rename the columns to reflect the month and year
COVID_monthly.rename(columns={'year': 'Year', 'month': 'Month'}, inplace=True)

# Display the COVID_monthly data frame
COVID_monthly

       Year  Month                     county   cases   deaths
0      2020      1                       Cook      10      0.0
1      2020      1                Los Angeles       6      0.0
2      2020      1                   Maricopa       6      0.0
3      2020      1                     Orange       7      0.0
4      2020      1                Santa Clara       1      0.0
...     ...    ...                        ...     ...      ...
22188  2021      2  Yukon-Koyukuk Census Area    6009     80.0
22189  2021      2                       Yuma  730078  15228.0
22190  2021      2                     Zapata   32764    477.0
22191  2021      2                     Zavala   33562    666.0
22192  2021      2                    Ziebach    6715    180.0

[22193 rows x 5 columns]

In [52]:
# Load the data
County_info = pd.read_csv('/Users/mahshid/Downloads/acs2017_census_tract_data.csv')
covid_data = pd.read_csv('/Users/mahshid/Downloads/COVID_county_data.csv')

# Create a 'County Name' column in each dataframe
County_info['County Name'] = County_info['County'] + ', ' + County_info['State']
covid_data['County Name'] = covid_data['county'] + ', ' + covid_data['state']

# Convert the date to a datetime format
covid_data['date'] = pd.to_datetime(covid_data['date'])

# Create year and month columns
covid_data['year'] = covid_data['date'].dt.year
covid_data['month'] = covid_data['date'].dt.month

# Aggregate the COVID data by 'County Name', 'year' and 'month'
COVID_monthly = covid_data.groupby(['County Name', 'year', 'month']).agg({'cases': 'sum', 'deaths': 'sum'}).reset_index()

# Merge the dataframes
merged_data = pd.merge(COVID_monthly, County_info, on='County Name', how='inner')

columns_to_drop = ['Men', 'Women', 'Hispanic', 'White', 'Black', 'Native', 'Asian',
                   'Pacific', 'VotingAgeCitizen', 'ChildPoverty', 'Professional',
                   'Service', 'Office', 'Construction', 'Production', 'Drive',
                   'Carpool', 'Transit', 'Walk', 'OtherTransp', 'WorkAtHome', 'MeanCommute',
                   'Employed', 'PrivateWork', 'PublicWork', 'SelfEmployed', 'FamilyWork', 'Unemployment']
merged_data = merged_data.drop(columns=columns_to_drop)


merged_data

,County Name,year,month,cases,deaths,TractId,State,County,TotalPop,Income,IncomeErr,IncomePerCap,IncomePerCapErr,Poverty
0,"Aleutians East Borough, Alaska",2020,6,38,0.0,2013000100,Alaska,Aleutians East Borough,3338,66607.0,2827.0,31254.0,2187.0,16.7
1,"Aleutians East Borough, Alaska",2020,7,73,0.0,2013000100,Alaska,Aleutians East Borough,3338,66607.0,2827.0,31254.0,2187.0,16.7
2,"Aleutians East Borough, Alaska",2020,8,121,0.0,2013000100,Alaska,Aleutians East Borough,3338,66607.0,2827.0,31254.0,2187.0,16.7
3,"Aleutians East Borough, Alaska",2020,9,303,0.0,2013000100,Alaska,Aleutians East Borough,3338,66607.0,2827.0,31254.0,2187.0,16.7
4,"Aleutians East Borough, Alaska",2020,10,452,0.0,2013000100,Alaska,Aleutians East Borough,3338,66607.0,2827.0,31254.0,2187.0,16.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14849,"Yukon-Koyukuk Census Area, Alaska",2021,1,7567,124.0,2290000400,Alaska,Yukon-Koyukuk Census Area,1028,36458.0,4876.0,20056.0,2020.0,23.5
14850,"Yukon-Koyukuk Census Area, Alaska",2021,2,6009,80.0,2290000100,Alaska,Yukon-Koyukuk Census Area,1224,27222.0,2753.0,17874.0,1721.0,35.5
14851,"Yukon-Koyukuk Census Area, Alaska",2021,2,6009,80.0,2290000200,Alaska,Yukon-Koyukuk Census Area,1378,49000.0,4814.0,26486.0,1728.0,19.8
14852,"Yukon-Koyukuk Census Area, Alaska",2021,2,6009,80.0,2290000300,Alaska,Yukon-Koyukuk Census Area,1823,39545.0,2900.0,19655.0,1195.0,24.2
14853,"Yukon-Koyukuk Census Area, Alaska",2021,2,6009,80.0,2290000400,Alaska,Yukon-Koyukuk Census Area,1028,36458.0,4876.0,20056.0,2020.0,23.5

In [46]:
import pandas as pd

# Load the data
County_info = pd.read_csv('/Users/mahshid/Downloads/acs2017_census_tract_data.csv')
covid_data = pd.read_csv('/Users/mahshid/Downloads/COVID_county_data.csv')

# Create a 'County Name' column in each dataframe
County_info['County Name'] = County_info['County'] + ', ' + County_info['State']
covid_data['County Name'] = covid_data['county'] + ', ' + covid_data['state']

# Convert the date to a datetime format
covid_data['date'] = pd.to_datetime(covid_data['date'])

# Create year and month columns
covid_data['year'] = covid_data['date'].dt.year
covid_data['month'] = covid_data['date'].dt.month

# Merge the dataframes
merged_data = pd.merge(covid_data, County_info, on='County Name', how='inner')

# Filter the data for Malheur County, Oregon in specific months
desired_rows = [
    ('Malheur County, Oregon', 2020, 8),
    ('Malheur County, Oregon', 2021, 1),
    ('Malheur County, Oregon', 2021, 2)
]
filtered_data = merged_data[
    merged_data[['County Name', 'year', 'month']].isin(desired_rows).all(axis=1)
]

# Select the required columns
desired_columns = ['County Name', 'month', 'cases', 'deaths']
filtered_data = filtered_data[desired_columns]


# Reset the index
filtered_data = filtered_data.reset_index(drop=True)

# Display the resulting table
print(filtered_data)

Empty DataFrame
Columns: [County Name, month, cases, deaths]
Index: []